{{!-- creates the details of games when logged in --}}
{{#if loggedIn}}
<div class="columns is-centered">
  <div class="column is-half">
    <div class="columns">
      <img class="column is-half" src={{game.image_url}} alt="Game Box Art">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <p class="title">
              {{game.game_name}}
            </p>
            <p class="subtitle">
              {{game.release_year}}
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                {{game.console_type}}
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <a href="{{game.discord_url}}" target="_blank">Discord</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>

  {{!-- Table for notes with two sections, User and the link to their notes, requires probably a new model (or relationship in index i.e. belongs to) with a table linking a user and their notes (in link form) that they've submitted for the game --}}
  <div class="column is-half">
    <div class="table-container">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>User</th>
            <th>Speedrun notes</th>
          </tr>
        </thead>
        <tbody>
          {{#each notesList as |note|}}
            <tr>
              <td>{{note.user.screen_name}}</td>
              <td><a href="{{note.link}}" target="_blank">{{note.link}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="columns">
      <label class="label column is-half ml-2">Post a link to your speedrun notes!</label>
      <form action="/games/{{game.gameid}}" method="POST">
        <div class="field has-addons">
            {{!-- <label class="label is-centered">Post a link to your speedrun notes!</label> --}}
            <div class="control">
                <input class="input" type="text" name="link" placeholder="Paste link here!"/>
            </div>
            <div class="control"></div>
                <input class="button is-info" type="submit" name="createnote" value="create note"/> 
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{else}}
<div class="field signup">
  <label class="label"><a class="has-text-warning" href="/signup/login">You must be signed in to view this page!</a></label>
</div>
{{/if}}
