{{!-- creates the details of games when logged in --}}
{{#if loggedIn}}
<section class="game">
  <img src={{game.image_url}} alt="Game Box Art">
  <div class="game-details">
    <h3>{{game.game_name}}</h3>
    <p>By: {{game.screen_name}}</p>
    <p>Game release year: {{game.release_year}}</p>
    <p>Console: {{game.consonle_type}}</p>
    <p>Discord Information: {{game.discord_url}}</p>
    <p>Notes: {{game.notes}}</p>
  </div>
</section>
{{else}}
  <a href="/signup/login">You must login first to view this page</a>
{{/if}}
